.reserve-lesson-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

.centered {
    text-align: center;
}

.selections-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.reserve-page-lesson-button {
    background-color: #28a745;
    border-radius: 30px;
    color: white;
    padding: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    white-space: nowrap;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: fit-content;
    cursor: pointer;
    align-self: flex-end;
}

.reserve-page-lesson-button:hover {
    background-color: #218838;
    color: white;
}

.selection-container label {
    display: block;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Comfortaa', 'Quicksand', sans-serif;
}

.selection-container input[type="radio"] {
    display: none;
}

.selection-container label:hover {
    background-color: #66ce74 ; /* Changed to light-light green */
}

.selection-container input[type="radio"]:checked + label {
    background-color: #28a745;
    color: white;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.week {
    display: contents;
}

.day {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
}

.time-slot {
    padding: 15px;
    border: none;
    background: none;
    color: #28a745;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}

.time-slot:hover {
    background-color: #66ce74;
    color: white;
}

.time-slot:focus {
    outline: none;
}

.time-slot.selected {
    background-color: #28a745;
    color: white;
}