.subject-details {
    text-align: center;
    line-height: 1.6;
}

.subject-image {
    position: relative;
    width: 100%;
}

.subject-image img {
    width: 500px;
    min-height: 400px;
    object-fit: cover;
}

.subject-info {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.info-box {
    margin-bottom: 10px;
    background-color: white;
    color: black;
    width: 160px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 10px;
    font-family: 'Comfortaa', 'Quicksand', sans-serif !important;
}

.number {
    font-size: 28px;
    font-weight: bold;
}

.text {
    font-size: 16px;
}

.subject-title {
    margin-top: 20px;
    font-size: 42px;
    font-family: 'Quicksand Light', sans-serif !important;
}

.subject-description {
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.6;
    font-family: 'Assistant', 'Roboto', sans-serif !important;
}

.subject-action {
    position: absolute;
    top: 20px;
    left: 60px;
}

.add-remove-button {
    border: none;
    border-radius: 50%;
    padding: 20px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-remove-button.add {
    background-color: #28a745;
    color: #ffffff;
}

.add-remove-button.add:hover {
    background-color: #218838;
}

.add-remove-button.remove {
    background-color: #dc3545;
    color: #ffffff;
}

.add-remove-button.remove:hover {
    background-color: #c82333;
}
