
/* Global */
body,
p,
a,
.ui,
.ui.card {
    font-family: "Assistant", "Roboto", sans-serif !important;
}

body::selection {
    background-color: #cce2ff;
    color: rgba(0, 0, 0, 0.87);
}

/* Body */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 320px;
    background: #fff;
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4285em;
    color: rgba(0, 0, 0, 0.87);
    font-smoothing: antialiased;
    height: 100%;
    display: block;
}

.greyH2 {
    font-size: 24px;
    color: #555;
    margin-bottom: 5px;
    font-family: 'Comfortaa', 'Quicksand', sans-serif !important;
}

.mainH1 {
    margin: 0;
    font-size: 38px;
    font-weight: bold;
    font-family: 'Comfortaa', 'Quicksand', sans-serif !important;
}

.whiteH3 {
    width: 40%;
    font-size: 22px;
    color: #fff;
    margin: 1.5em 0;
    font-family: 'Quicksand Light', sans-serif !important;
}

.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

/* Checkbox */
.form-check-input:checked {
    background-color: #28a745;
    border-color: #28a745;
}

/* Submit button */
.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #218838;
    border-color: #1e7e34;
}

.simple-text {
    font-size: 18px;
    font-family: 'Quicksand Light', 'Arial', sans-serif;
}

.error-page-content {
    font-size: 1.5em;
    text-align: center;
    margin: 300px 0;
}

.error-message {
    color:  #a93232;
    font-weight: bold;
    border-bottom: 3px solid  #a93232;
    list-style-type: none;
    padding: 5px;
    margin: 10px 0;
    font-size: 20px;
    font-family: 'Quicksand Light', 'Arial', sans-serif;
    display: inline-block;
}
/* Loader */
.loader {
    display: inline-block;
    width: 180px;
    height: 180px;
    border: 7px solid #f3f3f3;
    border-top: 7px solid #28a745;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-container {
    display: flex;
    flex-direction: column; /* Aligns children (loader and text) vertically */
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 70vw;
}

.loading-text {
    display: block;
    color: #28a745;
    text-align: center;
    padding-top: 20px;
    font-size: 1.75em;
    font-weight: bolder;
}

.star {
    cursor: pointer;
    transition: color 200ms;
}

.star:hover {
    color: #ffc107;
}
